
html,body {
    scrollbar-width: none;
    outline: none;
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 1.8rem;
    transform: rotate(90deg);
    font-weight: bold;
    color: #afafaf;
}

.logo_details small {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom right, #ffc107);
    animation: slide;
    animation-duration: 1500ms;
}

@keyframes slide {
    0% { background-image: linear-gradient(to bottom right, #000000) }
    10% { background-image: linear-gradient(to bottom right, #ffc107, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000) }
    20% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000) }
    30% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #000000, #000000, #000000, #000000, #000000, #000000, #000000) }
    40% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #000000, #000000, #000000, #000000, #000000, #000000) }
    50% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #000000, #000000, #000000, #000000, #000000) }
    60% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #000000, #000000, #000000, #000000) }
    70% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #000000, #000000, #000000) }
    80% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #000000, #000000) }
    90% { background-image: linear-gradient(to bottom right, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #ffc107, #000000) }    
    100% { background-image: linear-gradient(to bottom right, #ffc107) }
}

form .form-sec .d-flex small {
    position: absolute;
    align-self: center;
    right: 1rem;
    font-size: 10px;
    font-style: italic;
    color: #ff0011;
    animation: vibration;
    animation-duration: 300ms;
}

form .form-sec i {
    position: absolute;
    right: 1rem;
    padding: .25rem 0;
    width: 1.5rem;
    cursor: pointer;
    text-align: center;
    background: white;
}

form .form-sec input[type="password"] {
    padding-right: 1rem;
}

form a {
    color: #cccc00 !important;
}

form a:active,
form a:hover,
.block-footer a:active,
.block-footer a:hover
{
    text-decoration: underline;
}

form .txt-input:read-only {
    color: #777 !important;
}

form button i {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    align-self: center;
    opacity: .75;
    animation: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.prodcut-sec-slide ul {
    display: none !important;
}

.slider-content-sec {
    height: 10rem;
}

.nagivation-menu-wrap {
    background: #1a1a1a;
}

.nav-menu-icon i {
    color: #cdcdcd !important;
}

.nav-menu-icon.active i {
    color: #000;
}

.nav-menu-icon i {
    height: 1.5rem;
    width: 1.5rem;
    align-content: center;
    font-size: 1.25rem;
    color: #777;
}

.homepage-cart-sec small {
    font-size: .7rem;
    font-weight: bold;
    color: #777;
}

.homepage-cart-sec small:active,
.homepage-cart-sec small:hover
{
    text-decoration: underline;
}

.prodcut-sec-slide-full {
    background-image: url('../images/banner.jpeg');
}

.slider-content-sec-full {
    opacity: .7;
}

.slider-content-sec-full {
    min-height: 2.5rem;
}

.related-item h5 {
    font-size: .8rem;
    max-height: 1.2rem;
    overflow-y: hidden;
}

.related-item h6 {
    font-size: .8rem;
    max-height: 1.2rem;
    overflow-y: hidden;
}

.payment div:first-of-type {
    padding-left: 0 !important;
}

.payment div:last-of-type {
    padding-right: 0 !important;
}

.payment img {
    width: 30px;
    border-radius: .5rem;
}

.customer {
    visibility: hidden;
    position: fixed;
    margin: auto;
    bottom: 4rem;
    right: .75rem;
    height: 3.25rem;
}

.customer:active,
.customer:hover
{
    opacity: .85;
}

.menu-btn {
    min-height: 40px;
}

.page.fixture,
.page.waitlist,
.page.matchs,
.page.standing,
.page.match
{
    position: fixed;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.load,.score,.checkout,.perfect {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .75;
    line-height: 1;
    z-index: 1000;
    display: none;
}

.load,.score {
    align-content: center;
}

.score {
    display: block;
}

.popup {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: calc(0% - 3rem);
    height: 1.5rem;
    width: fit-content;
    background: #222222;
    line-height: 1;
    color: white;
    font-size: .8rem;
    line-height: 1;
    align-content: center;
    z-index: 1000;
    padding: .25rem .5rem;
    border-radius: 5px;
    animation: popup;
    animation-duration: 1.5s;
}

.load i {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    color: #666666;
    font-size: 3rem;
    max-width: fit-content;
    animation: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.checkout span {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: calc(50% - 5rem);
    color: #ffffff;
    font-size: 8rem;
    font-weight: normal !important;
    max-width: fit-content;
    animation: checkout;
    animation-duration: 300ms;
    transform: rotate(-15deg);
}

.perfect label {
    font-size: 4rem;
    font-style: italic;
    animation: perfect;
    animation-duration: 300ms;
    transform: rotate(0deg);
}

.accordion-item .flag {
    height: 1rem;
    width: 1.4rem;
    border-radius: 2.5px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion-item ul {
    margin: 0;
    padding: 0;
}

.accordion-item ul li {
    list-style: none;
    padding: .5rem;
    color: white;
    font-size: .9rem;
    min-height: 1rem;
}

.accordion-item ul li:first-of-type {
    padding-top: 1rem;
}

.accordion.fixture ul li,
.accordion.waitlist ul li
{
    list-style: none;
    font-size: .9rem;
    min-height: 1.8rem;
    max-height: 1.8rem;
    overflow: hidden;
}

.faq-bottom-border {
    background: var(--bs-gray-800);
}

.accordion-item.menu:active,
.accordion-item.menu:hover
{
    background: #fafafa;
}

.accordion-item:active:active span,
.accordion-item:active:hover span
{
    opacity: .75;
}

.accordion-item:active h6,
.accordion-item:hover h6,
.accordion-item:active i:last-of-type,
.accordion-item:hover i:last-of-type,
.accordion-item:active .faq-bottom-border,
.accordion-item:hover .faq-bottom-border,
.accordion-item ul li:active,
.accordion-item ul li:hover
{
    opacity: .5;
}

.blast {
    background-image: url('../images/whatsapp.png');
    background-size: 60%;
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.top-navbar .container {
    box-shadow: 0px 2px 5px var(--bs-gray-700);
}

.top-navbar_full i,
.top-navbar_full small i
{
    padding: .25rem;
    border-radius: 100%;
    line-height: 1;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    align-content: center;
    font-size: 1rem;
}

.top-navbar_full i:active,
.top-navbar_full i:hover
{
    background: #333333;
    opacity: .5;
}

.top-navbar_full small {
    position: absolute;
    margin: 0;
    right: .75rem;
    display: flex;
    max-width: 50%;
    text-align: end;
    align-items: center;
    font-size: .8rem;
}

.flag-icon {
    height: 1rem;
    width: 1.4rem;
    border-radius: 2.5px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: .5rem;
    margin-right: .5rem;
}

.flag-stat {
    height: 1.2rem;
    width: 1.2rem;
    background-image: url('../images/footy.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: .1rem;
}

.flag-stat:active,
.flag-stat:hover
{
    opacity: .5;
}

.chart {
    width: 100%;
    min-height: 3rem;
    max-height: 3rem;
}

select {
    outline: none;
    font-size: inherit;
}

.avatar img {
    border-radius: 100%;
    background: #efefef;
}

.avatar i {
    background: white !important;
    width: 80px !important;
    left: .75rem;
    justify-self: start;
    opacity: .75;
    color: #999;
}

.avatar input {
    border-radius: 100%;
    height: 80px !important;
    width: 80px !important;
    position: absolute;
    left: .75rem;
    justify-self: start;
    opacity: 0;
}

@keyframes vibration {
    0% { padding-right: .0rem; }
    10% { padding-right: .25rem; }
    20% { padding-right: .0rem; }
    30% { padding-right: .25rem; }
    40% { padding-right: .0rem; }
    50% { padding-right: .25rem; }
    60% { padding-right: .0rem; }
    70% { padding-right: .25rem; }
    80% { padding-right: .0rem; }
    90% { padding-right: .25rem; }
    100% { padding-right: .0rem; }
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes checkout {
    0% { font-size: 0rem; }
    25% { font-size: 2rem; }
    50% { font-size: 4rem; }
    75% { font-size: 6rem; }
    100% { font-size: 8rem; }
}

@keyframes perfect {
    0% { font-size: 0rem; }
    25% { font-size: 1rem; }
    50% { font-size: 2rem; }
    75% { font-size: 3rem; }
    100% { font-size: 4rem; }
}

@keyframes popup {
    0% { top: calc(0% - 3rem) }
    50% { top: calc(0% + 3rem) }
    100% { top: calc(0% - 3rem) }
}

@keyframes loadin {
    0% { left: 100%; }
    10% { left: 90%; }
    20% { left: 80%; }
    30% { left: 70%; }
    40% { left: 60%; }
    50% { left: 50%; }
    60% { left: 40%; }
    70% { left: 30%; }
    80% { left: 20%; }
    90% { left: 10%; }
    100% { left: 0%; }
}
